<h2>Curso de: {{ (course$ | async)?.name }}</h2>
<p>Fecha Inicio: {{ (course$ | async)?.startDate | date}}</p>
<p>Fecha Fin: {{ (course$ | async)?.endDate | date}}</p>

<h2>Lecciones</h2>

<hr>

<h3>Nueva lección</h3>
<mat-dialog-content>
  <form [formGroup]="curseForm">

    <mat-form-field class="w-full">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Seleccione una fecha">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Tema</mat-label>
      <input formControlName="topic" matInput />
      <mat-error>El campo no es valido</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Hora inicio</mat-label>
      <input formControlName="startTime" matInput />
      <mat-error>El campo no es valido</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Hora fin</mat-label>
      <input formControlName="endTime" matInput />
      <mat-error>El campo no es valido</mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
<!--  <button mat-button mat-dialog-close>Cancelar</button>-->
  <button (click)="onSubmit()" mat-button>Guardar</button>
</mat-dialog-actions>


<hr>
<h3>Lecciones existentes</h3>

<!--TABLA INICIO-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

  <!-- idCourse Column -->
  <ng-container matColumnDef="idCourse">
    <th mat-header-cell *matHeaderCellDef> ID Courso </th>
    <td mat-cell *matCellDef="let element"> {{element.idCourse}} </td>
  </ng-container>

  <!-- date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{ element.date | date: "dd/MM/YYYY"}} </td>
  </ng-container>

  <!-- topic Column -->
  <ng-container matColumnDef="topic">
    <th mat-header-cell *matHeaderCellDef> Tema </th>
    <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
  </ng-container>

  <!-- startTime Column -->
  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef> Hora inicio </th>
    <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
  </ng-container>

  <!-- endTime Column -->
  <ng-container matColumnDef="endTime">
    <th mat-header-cell *matHeaderCellDef> Hora fin </th>
    <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
  </ng-container>

  <!-- actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">

<!--      <button [routerLink]="element.id" mat-icon-button>-->
<!--        <mat-icon>visibility</mat-icon>-->
<!--      </button>-->

<!--      <button (click)="editCourse(element)" mat-icon-button>-->
<!--        <mat-icon>edit</mat-icon>-->
<!--      </button>-->

      <button (click)="deleteLessonByCourseId(element)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!--  DEFINIR QUE COLUMNAS SE VAN A MOSTRAR EN LA TABLA-->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!--TABLA FIN-->

<!--BARRA DE CARGA INICIO-->
<ng-container *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<!--BARRA DE CARGA FIN-->
