<mat-drawer-container class="example-container" autosize>

  <!--  inicio menú lateral-->
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item href="#">Inicio</a>
      <a mat-list-item href="#">Cursos</a>
      <a mat-list-item href="#">Alumnos</a>
      <a mat-list-item href="#">Inscripciones</a>
    </mat-nav-list>
  </mat-drawer>
  <!--  fin menú lateral-->

  <!--  contenido-->
  <div class="example-sidenav-content">

    <!--Toolbar inicio-->
    <mat-toolbar>
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Panel de Administración</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
    <!--Toolbar fin-->

    <main class="p-5">

      <app-students></app-students>

      <hr style="padding-bottom: 10px; padding-top: 10px">

      <app-courses></app-courses>
    </main>

  </div>
  <!--  fin contenido-->

</mat-drawer-container>
